* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    color: #533a4c;
}
ul{
    list-style: none;
}
.card img{
    width: 100%;
    height:200px;
}
.card p{
    margin: 10px 15px;
}